{{#sections "css"}}
    <link rel="stylesheet" type="text/css" href="/css/product-admin.css">
{{/sections}}
{{#sections "js"}}
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/plugins/pace.min.js"></script>
{{/sections}}
<main class="app-content">
    <div class="product-page">
        <div class="section-one">
        <p class="content-title">Danh sách sản phẩm</p>
    </div>
    <div class="section-two">
        <div class="input">
            <input type="text" class="input" id="product-name" placeholder="Tìm sản phẩm"/>
        </div>
        <div class="dropdown">
            <select id="category" id>
                <option value="">Không</option>
                <option value="Danh mục 1">Danh mục 1</option>
            </select>
        </div>
        <div class="dropdown">
            <select id="manufacturer" id>
                <option value="">Không</option>
                <option value="Danh mục 1">Danh mục 1</option>
            </select>
        </div>
        <div class="dropdown">
            <select id="creation-time" id>
                <option value="">Không</option>
                <option value="Danh mục 1">Danh mục 1</option>
            </select>
        </div>
        <div class="dropdown">
            <select id="price" id>
                <option value="">Không</option>
                <option value="Danh mục 1">Danh mục 1</option>
            </select>
        </div>
        <div class="dropdown">
            <select id="total-purchase" id>
                <option value="">Không</option>
                <option value="Danh mục 1">Danh mục 1</option>
            </select>
        </div>
    </div>
    </div>
    
</main>
