<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right"> 
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"></span><span class="text-black-50">{{account}}</span><span> </span></div>
            <div class="mt-5 text-center" style="margin: 20px;"><button class="btn btn-primary profile-button" type="button">Change avatar</button></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
                    <h2 class="text-left">Profile</h2>
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Old password</label><input type="text" class="form-control" placeholder="Old password" value=""></div>
                    <div class="col-md-12"><label class="labels">New password</label><input type="text" class="form-control" placeholder="New password" value=""></div>
                </div>
                
                <div class="mt-5 text-center" style="margin: 20px;""><button class="btn btn-primary profile-button" type="button">Change password</button></div>
            </div>
        </div>
       
    </div>
</div>
</div>
</div>